/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}
.music-background{
background-image: url("components/assets/bgg.gif");
background-size: cover;
width: 100%;
justify-content: center;
align-items: center;

}

.container {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  width: 640px;
  height: 370px;
  background-image: url("components/assets/bg.png");
  background-size: contain;
  background-position: 0px;
  background-repeat: no-repeat;
  color: #fff; /* Texte blanc */
  padding-top: 60px; /* Espacement intérieur */
  padding-left: 80px;
  border-radius: 8px; /* Coins arrondis */
  padding-right: 0px;
  padding-bottom: 0px;
  margin: 0px;
  margin-left: 20px;
}

.playlist-box {
  border-color: #a17653;
  border-style: solid;
  border-width: 15px;
  background-color: #404041;
  padding: 0px; /* Espacement intérieur */
  padding-right: 10px;
  width: 640px;
  border-radius: 25px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 10px;
  
}
.visuel{
  width: 400px;
  height: 400px;
}

.auteur{
  background-color: #58595b;
  border-radius: 5px;
  width: 170px;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-color: #eaac2f;
  border-style: solid;
  border-width: 5px;
}
.control-auteur{
  width:170px;
  position: absolute;
  top: 100px; /* Replace 100px with your desired y-coordinate */
  left: 320px;
}
.cont{
  display: flex;
  flex-direction: column;
  width: 600px;
  max-height: 200px;
  position: relative;
}
